# Bygget binary
hpo
*.o

# DuckStation/emulator config der lander i mappen
console_history.cfg
console_settings.cfg
*.cfg

# Spil/ROM-data skal ALDRIG i repo (ophavsret)
*.zip
*.nes
*.sfc
*.gb
*.gba
*.bin
*.cue
*.chd
*.AppImage
roms/
arcade/
convergence_a_league_of_legends_story/
helpers/Movies/
helpers/Movies/
helpers/Movies /
helpers/Movies/
helpers/Movies /

# Secrets - NEVER commit these
omdb_key.txt
*_key.txt
*.key
rukhmini_posters.json
rukhmini_titles.json
